@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe


<main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Donation</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>Donation</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <section id="contact" class="contact container">
            <div class="container">

                <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-6">
                        <form action="stripeDonation" method="post" role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Name" required />
                              
                            </div>
                            <div class="form-group">

                                <select id="inputState" class="form-control" name="category">                                    
                                    <option selected>Education</option>
                                    <option>Marriage</option>
                                    <option>Orphan</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="Amount" placeholder="Amount"  required />
                              
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="Card" placeholder="Card No." required pattern="\d*" onKeyPress="if(this.value.length>15) return false;"/>
                              
                            </div>
                            <div class="form-group form-row ">
                                <div class=" col-6">
                                    <input type="date" class="form-control" name="Expiry" placeholder="Expiry Date" required min="2021-02-01"/>
                                </div>
                                <div class="col-6">
                                    Enter Expiry Date
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="CVV" placeholder="CVV" required pattern="\d*" onKeyPress="if(this.value.length>2) return false;" />
                              
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="Email" placeholder="Email"  required/>
                              
                            </div>


                            <div class="text-center"><button class="btn btn-success" type="submit">Donate</button></div>
                          
                        </form>
                    </div>                

                </div>
            </div>
        </section>

    </section>

</main><!-- End #main -->
