
<body>
    <main id="main" data-aos="fade-up">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Donee</h2>
                    <ol>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Need Donation</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <section id="contact" class="contact container">
                <div class="container">
                    <div class=" text-center pd-5">
                        <h3>Our Team will contact you for verification</h3>

                        <h4>Enter your details</h4>

                    </div>

                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <form action="~/Home/nDonation" method="POST" role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Name" />

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="address"
                                           placeholder="Address" />
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <input type="text" placeholder="Income Source" class="form-control" name="incomeSource" />

                                    </div>
                                    <div class="form-group col-lg-6">

                                        <select id="inputState" class="form-control" name="category">
                                            <option selected>Education</option>
                                            <option>Marriage</option>
                                            <option>Orphan</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="tel" class="form-control" name="number" id="subject2" placeholder="Contact Number" />

                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email ID" required />

                                </div>

                                <br>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-success btn-lg" style="background-color:#2cda00; color:black;">Submit</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>

        </section>

    </main><!-- End #main -->


</body>
