

<br /><br /><br /><br /><br /><br />
<div text-center>

    <div class="row justify-content-center">
        <script src="https://checkout.stripe.com/v3/checkout.js" class="stripe-button btn btn-suceess"
                data-key="pk_test_51HpZsnGMHY7EGWQnCwfSZkK9YGuh1lk8KqIdUzesfHbCC6q65qn7xiDboVSHxvKSJdycoEedmMbyXs5KzuQPEm9i00q45jxh4M"
                data-description="Donation"
                data-amount=@ViewData["amount"]>            
        </script>
    </div>
    <br />

</div>
